{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true
    }],
    "@babel/stage-0",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators"],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}